.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.signUpHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.description {
  font-size: var(--font-md);
  text-align: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 32px;
}

.inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.inputLabelContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 40px;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
}

.inputLabelContainer:focus-within {
  border-color: #3182bd;
}

.inputLabelContainer input {
  width: 100%;
  height: 100%;
  margin-left: 8px;
  font-size: var(--font-md);
  border: none;
  background-color: transparent;
}

.inputLabelContainer input:focus {
  outline: none;
}

.inputLabelContainer label {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-md);
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.inputLabelContainer input:focus + label,
.inputLabelContainer input:not(:placeholder-shown) + label {
  top: -12px;
  left: 6px;
  font-size: var(--font-xs);
  color: #3182bd;
  background-color: #fff;
  padding-right: 4px;
}

.errorMessageContainer {
  min-height: 4px;
  line-height: 4px;
  margin-top: 8px;
}

.errorText {
  color: red;
  font-size: var(--font-xs);
  margin: 0;
}

.togglePasswordButton {
  position: absolute;
  right: 8px;
  top: 11px;
  background: none;
  border: none;
  cursor: pointer;
}

.togglePasswordIcon {
  width: 16px;
  height: 16px;
  color: #b2b2b2;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}

.signUpButton {
  width: 424px;
  height: 40px;
  background-color: hwb(205 0% 80%);
  border: none;
  border-radius: 7.5px;
  font-size: var(--font-md);
  cursor: pointer;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.oauthLogo {
  margin-right: 8px;
  margin-top: 3px;
}

.signUpWithOAuthButton {
  width: 424px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1.5px solid #b2b2b2;
  border-radius: 7.5px;
  font-size: var(--font-md);
  color: black;
  cursor: pointer;
  margin-bottom: 8px;
}

.signUpFooter {
  font-size: var(--font-md);
  color: black;
}

@media only screen and (max-width: 768px) {
  .signUpContainer {
    width: 90%;
    height: auto;
    margin: 16px;
  }

  .signUpForm {
    gap: 8px;
  }

  .inputLabelContainer {
    width: 90%;
  }

  .signUpButton,
  .signUpWithOAuthButton {
    width: 90%;
  }

  .oauthLogo {
    margin-right: 4px;
    margin-top: 2px;
  }
}
