.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.signUpHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.description {
  font-size: var(--font-md);
  text-align: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.inputContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.inputLabelContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: 2.5rem;
  border: 1.5px solid #b2b2b2;
  border-radius: 5px;
}

.inputLabelContainer:focus-within {
  border-color: #3182bd;
}

.inputLabelContainer input {
  width: 100%;
  height: 100%;
  margin-left: 0.5rem;
  font-size: var(--font-md);
  border: none;
  background-color: transparent;
}

.inputLabelContainer input:focus {
  outline: none;
}

.inputLabelContainer label {
  position: absolute;
  left: 0.5rem;
  top: 0.55rem;
  font-size: var(--font-md);
  color: #999;
  pointer-events: none;
  transition: 0.2s ease all;
}

.inputLabelContainer input:focus + label,
.inputLabelContainer input:not(:placeholder-shown) + label {
  top: -0.75rem;
  left: 0.4rem;
  font-size: var(--font-xs);
  color: #3182bd;
  background-color: #fff;
  padding-right: 0.25rem;
}

.errorMessageContainer {
  min-height: 0.25rem;
  line-height: 0.25rem;
  margin-top: 0.5rem;
}

.errorText {
  color: red;
  font-size: var(--font-xs);
  margin: 0;
}

.togglePasswordButton {
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  background: none;
  border: none;
  cursor: pointer;
}

.togglePasswordIcon {
  width: 1rem;
  height: 1rem;
  color: #b2b2b2;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.signUpButton {
  width: 26.5rem;
  height: 2.5rem;
  background-color: hwb(205 0% 80%);
  border: none;
  border-radius: 7.5px;
  font-size: var(--font-md);
  cursor: pointer;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.oauthLogo {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.signUpWithOAuthButton {
  width: 26.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1.5px solid #b2b2b2;
  border-radius: 7.5px;
  font-size: var(--font-md);
  color: black;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.signUpFooter {
  font-size: var(--font-md);
  color: black;
}

@media only screen and (max-width: 768px) {
  .signUpContainer {
    width: 90%;
    height: auto;
    margin: 1rem;
  }

  .signUpForm {
    gap: 0.5rem;
  }

  .inputLabelContainer {
    width: 90%;
  }

  .signUpButton,
  .signUpWithOAuthButton {
    width: 90%;
  }

  .oauthLogo {
    margin-right: 0.25rem;
    margin-top: 0.1rem;
  }
}
